* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.container {
  width: 1040px;
  margin: 0 auto;
}
// nav
.tab {
  margin: 30px auto;
  button {
    padding: 4px;
  }
}
.header {
  padding: 20px 0;
  background-color: rgba(14, 10, 19, 0.977);

  .form {
    label {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    .search-btn {
      margin-left: 5px;
      padding: 5px;
      border-radius: 5px;
      border: none;
      &:hover {
        background-color: rgba(255, 255, 255, 0.941);
      }
    }
  }
  .header__list {
    display: flex;
    gap: 50px;
  }
  &__item {
    a {
      color: rgb(248, 252, 255);
      &:hover {
        color: rgba(56, 126, 9, 0.881);
      }
    }
  }
}

// dynamic section
.tab {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  gap: 10px;
  button {
    padding: 10px;
    border: none;
    background-color: rgb(20, 16, 17);
    color: white;
    &:active {
      background-color: white;
      color: rgb(20, 16, 17);
    }
  }
}
.list {
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
  &__item {
    max-width: 200px;
    margin: 10px 0;
    h5 {
      font-size: 15px;
      color: rgb(140, 116, 235);
      margin-bottom: 5px;
    }
    p {
      margin: 10px 0;
      color: white;
    }
  }
  &__img {
    width: 100%;
  }
}
.info {
  height: 100px;
  overflow: auto;
}
.genries {
  color: rgb(216, 76, 151);
}
span {
  color: aliceblue;
}
.btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: rgba(52, 171, 189, 0.645);
  border-radius: 10px;
  border: none;
  color: antiquewhite;
}

// sticky footer
html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  margin-top: 5%;
  padding: 30px;
  background-color: rgba(14, 10, 19, 0.977);

  &__list {
    width: 700px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 20px;
  }
}
.foot {
  display: flex;
  justify-content: space-between;
  text-align: end;
  p {
    color: white;
    margin-bottom: 15px;
  }
  a {
    margin-right: 25px;
  }
}
