* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(239, 246, 233);
  background: linear-gradient(
    90deg,
    rgba(239, 246, 233, 1) 0%,
    rgba(212, 230, 228, 1) 43%,
    rgba(183, 223, 201, 1) 100%
  );
}
.container {
  max-width: 1040px;
  margin: 0 auto;
}
// nav
.header {
  padding: 20px 0;
  background: rgb(10, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(10, 0, 36, 1) 0%,
    rgba(9, 47, 121, 1) 43%,
    rgba(136, 0, 255, 1) 100%
  );
  .form {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    .search-btn {
      padding: 3px;
      border-radius: 5px;
      border: none;
    }
  }
  .header__list {
    display: flex;
    gap: 50px;
  }
  &__item {
    a {
      color: rgb(201, 208, 214);
      &:hover {
        color: burlywood;
      }
    }
  }
}
// dynamic section
.list {
  padding: 20px 0;
  margin-left: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  &__item {
    max-width: 250px;
    margin: 10px 0;
    h5 {
      color: rgb(66, 65, 71);
      margin-bottom: 5px;
    }
    p {
      margin: 10px 0;
    }
  }
  &__img {
    width: 100%;
  }
}
.info {
  height: 100px;
  overflow: auto;
}
.genries {
  color: rgb(216, 76, 151);
}
span {
  opacity: 0.5;
}
.btn {
  padding: 10px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: antiquewhite;
}

// sticky footer
html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  margin-top: 5%;
  padding: 30px;
  background: rgb(10, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(10, 0, 36, 1) 0%,
    rgba(9, 47, 121, 1) 43%,
    rgba(136, 0, 255, 1) 100%
  );

  &__list {
    display: flex;
    gap: 50px;
  }
}
